{{define "accueil"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/accueil.css">

    <title>Accueil</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="/static/images/lego.png" alt="accueil">
        <h1  class="titre">Apex Tracker</h1>
        <p class="github"><img class="icons" src="static/images/github.png" > Corindpz</p>
    </div>
    <div class="container">
    <a class="boutton" href="/rota"><div class="twice"><img src="static/images/orange.png" ><p class="txtbtn2">Rotation<img class="icon" src="static/images/sync-regular-24.png"></p></div></a>
    <a class="boutton" href="/info"><div class="twice"><img src="static/images/red.png" ><p class="txtbtn">Predict Game<img class="icon" src="static/images/info.png"></p></div> </a>
    <a class="boutton" href="/shop"><div class="twice"><img src="static/images/blue.png" ><p class="txtbtn">Boutique<img class="icon" src="static/images/boutique.png"></p></div></a>
    <a class="boutton" href="/news"><div class="twice"><img src="static/images/green.png" ><p class="txtbtn">Actus<img class="icon" src="static/images/chart.png"></p></div></a>
    <a class="boutton" href="/tracker"><div class="twice"><img src="static/images/yellow.png" ><p class="txtbtn">Tracker<img class="icon" src="static/images/search.png"></p></div></a>
    </div>
    
</body>
<script>
</script>
</html>
{{end}}