{{define "error"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <title>error</title>
</head>
<body>
    
    <div class="container">
        
        <h1><a href="/accueil"><img class="logo" src="/static/images/lego.png" alt="accueil"></a>Erreur 404...</h1>
        <p>La page est introuvable ou le joueur inexistant...</p>
    </div>
</body>
</html>
{{end}}