{{define "shop"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/shop.css">
    <title>Shop</title>
    
  
</head>
<body>
    <div class="header">
        <a href="/accueil"><img class="logo" src="/static/images/lego.png" alt="accueil"></a>
        <h1  class="titre">Apex Tracker</h1>
        <p class="github"><img class="icons" src="static/images/github.png" > Corindpz</p>
    </div>
    <h2>Boutique </h2>
    {{range .}}
    <div class="container">
        <div class="bundle">
            <img class="article" src="{{.Asset}}" alt="{{.Title}}">
            <h2>{{.Title}}</h2>
            
            <p >Prix:  {{with index .Pricing 0}}{{.Quantity}} <img class="coins" src="static/images/apex.png">{{end}}</p>
            <div class="content">
                <h3>Contenu:</h3>
                {{range .Content}}
                    <p>{{.Name}} ({{.Quantity}}x) </p>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}
</body>
</html>
{{end}}
