{{define "trackerstats"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/tracker_stats.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <title>Player Info</title>
</head>
<body>
    <div class="header">
        <a href="/accueil"><img class="logo" src="/static/images/lego.png" alt="accueil"></a>
        <h1  class="titre">Apex Tracker</h1>
        <p class="github"><img class="icons" src="static/images/github.png" > Corindpz</p>
    </div>
    <div class="container">
        <form action="/favorites" method="post">
            <input type="hidden" name="name" value="{{.Global.Name}}">
            <button class="pack" type="submit"><img class="noeil" src="/static/images/pack.png" alt="accueil"></button>
        </form>
    <div class="canette">
    <h2>Player Name: <p>{{.Global.Name}}</h2>
    
    <h2>Rank Name: <p>{{.Global.Rank.RankName}}</p></h2>
    <h2>Selected Legend: <p>{{.Realtime.SelectedLegend}}</p></h2>
    <h2>Current State: <p>{{.Realtime.CurrentState}}</h2>
    <h2>Total de kills: <p>{{.Total.Kills.Value}}</p></h2>
    
    <h2>Total de dégats: <p>{{.Total.Damage.Value}}</p></h2>
    
    <h2>KD:  <p>{{.Total.KD.Value}}</p></h2>
    </div>
</div>
</body>
</html>
{{end}}
