{{define "tracker"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/tracker.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <title>tracker</title>
</head>
<body>
    <div class="header">
        <a href="/accueil"><img class="logo" src="/static/images/lego.png" alt="accueil"></a>
        <h1  class="titre">Apex Tracker</h1>
        <p class="github"><img class="icons" src="static/images/github.png" > Corindpz</p>
    </div>
    <a class="favs" href="/favorites">Favoris<img class="pack" src="/static/images/pack.png"> </a>   
    <div class="container">
        <form id="tracker-form" action="/search_tracker" method="post">
           <input type="text" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo">
           <input type="text" id="platform" name="platform" placeholder="Entrez votre plateforme">
          <button type="submit"><img class="box" src="/static/images/box.png" ></button>
        </form>
    </div>
    <div class="champs">
        <img class="path" src="/static/images/path.png">
        <img class="octane" src="/static/images/octane.png">
    </div>
</body>
</html>
{{end}}